body{
    margin: auto;
    
}
.orange-highlight{
    color:orange ;
}
.area{
    width: 46%;
    float: left;
    margin-left: 2%;
    padding-left: 1%;

}
.area .heading img{
    width: 50%;
    padding-top: 30px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(45deg,lightsalmon,orange);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 400;
    color:wheat;
    overflow: hidden;
    display: inline;
}
h1{

    
}
.top h1 {
    text-align: center; 
    }
section {
    height: 300px;
    padding-bottom: 200px;
}
.content{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    float: left;
    margin-left: 10px;
    padding: 10px;
    width: 200px;
    height: 280px;
    text-align: justify;
    padding-left: 30px;
}
.container img{
    height: 100px;
    width: 120px;
}
.content p{
    text-align: justify;
    text-decoration: 1px;
}
.mean{
    clear:both;
    background-image: linear-gradient(45deg,rgb(183, 182, 204),rgb(235, 234, 240));
}
.array-c{
    text-size-adjust: 10px;
    color: salmon;
    background-image: linear-gradient(45deg,rgb(20, 17, 230),rgb(78, 59, 182));
    height: 100px;
    width: 500px;
    border-radius: 20px;
    margin: 100px;
    float: left;


}
.array-a {
    float:right;
   display:inline;
}
.navber{

	padding: 5px;
	float: right;
	width: 60%

}
.navber a{
	float: left;
	text-align: center;
	font-size: 18px;
	color: brown;
	text-decoration: none;
	padding: 20px 10px;
}
.wright{
    text-align: justify;
    background-color:oldlace;
    padding-left: 2%;
}
.wright h3{
    text-align: center;
}
.last{
    text-align-last: center;
    
}